@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@font-face{
	font-family: 'SansationLight';
	src: url('SansationLight.eot');
	src: local('SansationLight'), url('SansationLight.woff') format('woff'), url('SansationLight.ttf') format('truetype');
}

$primary: #26a5d3;
$dark: #333333;
$light: #f4f4f4;


html{
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    width:100%;
    height:100%;
    font-family:'SansationLight', Helvetica, Arial, sans-serif;
    color:$dark;
    background-color:$light;
}

//Typography

h1, h2, h3, h4, h5, h6{

    margin: 0 0 35px;
    text-transform:uppercase;
    font-family:'SansationLight', "Helvetica Neu", Helvetica, Arial, sans-serif;
    letter-spacing:1px;
}

p{
    margin: 0 0 25px;	
    font-size:18px;
    line-height:1.6em;
}

a{
    color:$primary;

}

a:hover, a:focus{

    text-decoration:none;
    color: darken($primary, 20%);
}


// Navigation

.navbar{
    margin-bottom:0;
    border-bottom:1px solid rgba(255,255,255,0.3);
    text-transform:uppercase;
    font-family:'SansationLight', "Helvetica Neu", Helvetica, Arial, sans-serif;
    background-color:$dark;
}

.navbar-brand{
    font-weight:700;
}

.navbar-brand:focus{
    outline:none;
}

.navbar-custom a{
    color:$light;
}

.navbar-custom .nav li a {
    -webkit-transition:background .3s ease-in-out;
    -moz-transition:background .3s ease-in-out;
    transition:background .3s ease-in-out;
}

.navbar-custom .nav li a:hover{
    outline:none;
    background: rgba(255,255,255,0.2);
}

.navbar-toggle{
    padding:4px 6px;
    font-size:16px;
    color:$light;
}

@media(min-width: 767px){
.navbar{
    padding:20px 0;
    border-bottom:none;
    background:transparent;
    -webkit-transition:background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition:background .5s ease-in-out, padding .5s ease-in-out;
    transition:background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse{
    padding:0;
    background-color:$dark;
}

.navbar-custom.top-nav-collapse{
    border-bottom:1px solid rgba(255,255,255,0.3); 
}
}

// Landing Page

.intro{
    display:table;
    height:100%;
    width:100%;
    padding:100px 0;
    text-align:center;
    color:$dark;
    background: url('intro-bg.jpg') no-repeat center center scroll;
    background-color:$dark;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.intro-body{
    display:table-cell;
    vertical-align:middle;

}

.brand-heading{
    font-size:40px;
}

.hrMain{
	border-color:$dark;
}

.intro-text{
    font-size:18px;
    padding:0;
    margin:0;
}


@media(min-width: 767px){
   
    .intro{
    padding:0;
    margin:0;
}

.brand-heading{
    font-size:100px !important;
}

.intro-text{
    font-size:25px;
}
    }

//content section 

.content-section{
	padding: 70px 0 40px 0; 
	}

// Icon Blocks

.block-icon-left{
	overflow:auto;

	h1, h2, h3, h4, h5, h6{
	   margin:0 0 10px 0;
	   padding:0;
	   font-size:20px;
	}

	.icon-content{
		float:left;
		width:70%;
	}

	.icon{
		float:left;
		width:30%;
		margin-top:30px;
	}
}

//Projects Section

.project-section{
	width:100%;
	height:100%;
	padding:50px 0;
	color:$dark;
	background-color:$light;
	}

@media(min-width: 767px){
	.who-section{
		padding:100px 0;
	}
}

#hobby{
	text-align:center;
	padding-bottom:80px;

	images{
	margin-right:30px;
	}
}

#contact{
	background:$light;
	color:$dark;
	padding-bottom:40px;
}

//footer Section

footer{
	margin-top:10px;
	padding-top:30px;
	height:80px;
	text-align:center;
}

.page-scroll{
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -webkit-transform;
	-moz-transition-duration: 1s;
}

.row{
	margin-top:80px;

	}

.btn-default{
	background-color:Transparent;
    &:hover { background-color:$dark;
    		color:$light;
     }
}

#hobby{
    display:table;
    height:80%;
    width:100%;
    padding:100px 0;
    text-align:center;
    color:$dark;
    background:url("hobby-bg.jpg") no-repeat top center scroll; 
    background-color:$dark;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
@media(min-width: 767px){
	.hobby-section{
 	padding:100px 0;
	}
}

.classWithPad{
	margin-left:120px;
}

#endIc li {
	margin-top:10px;
	margin-left:30px;
	margin-right:10px;
}

.circle {
    display: block;
    position:absolut;
    width: 140px;
    height: 140px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   -webkit-border-radius: 99em;
   -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
    margin-left:43%;
    margin-top:-28px;
    margin-bottom:20px;
   }